/* Header styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px; /* Hem üstten-alttan hem sağdan-soldan padding */
  background: linear-gradient(90deg, #0066ff, #800080); /* Maviden mora geçiş */
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Padding dahil et */
}

/* Logo styling */
.logo {
  max-width: 150px;
  margin-right: 20px;
}

/* Main title styling */
h1 {
  flex-grow: 1;
  text-align: left;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

/* Navigation bar styling */
.navbar {
  width: 100%;
  background: linear-gradient(90deg, #0066ff, #800080); /* Maviden mora geçiş */
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Padding dahil et */
}

/* Removing default list styles and setting up flex layout */
.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Adding styles to each navigation item */
.navbar ul li {
  margin: 0 20px;
}

/* Adding styles to each link in the navigation */
.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

/* Adding hover effect to the navigation links */
.navbar ul li a:hover {
  background-color: #800080; /* Mora hover efekti */
  color: #ffffff;
}

/* Adding styles for the active navigation link */
.navbar ul li a.active {
  background-color: #4b0082; /* Koyu mor */
  color: #ffffff;
}

/* Subtitle styling */
.subtitle {
  text-align: center;
  margin: 20px 0;
  color: #666;
  font-size: 18px;
}

/* Styling the content area where router-outlet renders components */
.content {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: calc(100vh - 120px); /* Header ve navbar yüksekliğini çıkar */
  overflow-y: auto; /* İçeriğin taşması durumunda kaydırma */
}

/* Ensuring the content area takes the full width */
.content > * {
  width: 100%;
}

/* Statistics section styling */
.statistics-section {
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
}

.statistics-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.statistics-section select {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px;
  font-size: 16px;
}

.statistics-section table {
  width: 100%;
  border-collapse: collapse;
}

.statistics-section th, .statistics-section td {
  border: 1px solid #ddd;
  padding: 8px;
}

.statistics-section th {
  background-color: #007bff;
  color: white;
}

.statistics-section td {
  text-align: center;
}