<div class="container">
    <h2>Add User</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="user.name" name="name" required class="form-control">
      </div>
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" [(ngModel)]="user.surname" name="surname" required class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required class="form-control">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required class="form-control">
      </div>
      <div class="form-group">
        <label for="roleType">Role Type:</label>
        <select id="roleType" [(ngModel)]="user.roleType" name="roleType" required class="form-control">
          <option value="" disabled selected>Select role type</option>
          <option value="manager">Manager</option>
          <option value="tenant">Tenant</option>
          <option value="customer">Customer</option>
          <option value="owner">Owner</option>
        </select>
      </div>
      <div class="form-group">
        <label for="flatList">Flat List (comma separated):</label>
        <input type="text" id="flatList" [(ngModel)]="flatListInput" name="flatListInput" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Add User</button>
    </form>
    <div class="login-link">
        <a routerLink="/login">Login</a> if you are already registered.
    </div>
    <div *ngIf="users.length > 0">
      <h3>Registered Users:</h3>
      <ul>
        <li *ngFor="let user of users">{{ user.email }}</li>
      </ul>
    </div>
  </div>
  