<div class="container">
  <h2>Add User</h2>
  <form (ngSubmit)="addUser()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="user.name" name="name" required class="form-control">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" id="surname" [(ngModel)]="user.surname" name="surname" required class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required class="form-control">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required class="form-control">
    </div>
    <div class="form-group">
      <label for="roleType">Role Type:</label>
      <select id="roleType" [(ngModel)]="user.roleType" name="roleType" required class="form-control">
        <option value="manager">Manager</option>
        <option value="tenant">Tenant</option>
        <option value="technician">Technician</option>
        <option value="owner">Owner</option>
        <option value="customer">Customer</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
  </form>
  
  <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
  
  <app-back-button></app-back-button> <!-- Back button at the bottom -->
</div>
