<div class="container">
  <div class="task-detail">
    <h2>Task Details</h2>
    <p><strong>Task Name:</strong> {{ task.taskName }}</p>
    <p><strong>Task Description:</strong> {{ task.taskDescription }}</p>
    <p><strong>Assigned to:</strong> {{ assignedUserName }}</p>
    <button (click)="showUpdateFormToggle()" class="btn btn-primary">Update</button>
    <button (click)="deleteTask()" class="btn btn-danger mt-3">Delete Task</button>
  </div>

  <!-- Update Form Section -->
  <div *ngIf="showUpdateForm">
    <h2>Update Task</h2>
    <form (ngSubmit)="updateTask()">
      <div class="form-group">
        <label for="taskName">Task Name:</label>
        <input type="text" id="taskName" [(ngModel)]="task.taskName" name="taskName" required class="form-control">
      </div>
      <div class="form-group">
        <label for="taskDescription">Task Description:</label>
        <input type="text" id="taskDescription" [(ngModel)]="task.taskDescription" name="taskDescription" required class="form-control">
      </div>
      <div class="form-group">
        <label for="assignedUser">Assign to:</label>
        <select id="assignedUser" [(ngModel)]="task.userID" name="assignedUser" required class="form-control">
          <option *ngFor="let technician of technicians" [value]="technician.id">{{ technician.name }} {{ technician.surname }}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Update Task</button>
    </form>
  </div>
  <app-back-button></app-back-button>
</div>
