<div class="container">
  <h2>Add Task</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" [(ngModel)]="task.taskName" name="taskName" required class="form-control">
    </div>
    <div class="form-group">
      <label for="userID">Assign to Technician:</label>
      <select id="userID" [(ngModel)]="task.userID" name="userID" required class="form-control">
        <option *ngFor="let technician of technicians" [value]="technician.id">{{ technician.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="taskDescription">Task Description:</label>
      <input type="text" id="taskDescription" [(ngModel)]="task.taskDescription" name="taskDescription" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>

  <div *ngIf="successMessage" class="alert alert-success mt-3">
    {{ successMessage }}
  </div>

  <app-back-button></app-back-button>
</div>
